myenv
*.webm
*.srt
*.mp4
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Project Outputs
[Dialogue-Only] *
output.mp4
output.srt
ffmpeg_concat.txt

# PyInstaller / Build
dist/
build/
*.spec
*.exe


# OS
.DS_Store
Thumbs.db

